{% extends 'start_app/start_app.base.html' %}
{% block title %}
    Login | Funder
{% endblock %}
{% block navContent %}
    <div style="color : white;padding-left : 900px;"> 
        <span> 
            Log in  
        </span> 
    </div> 
{% endblock %}
{% block bodyContent %}
<div class="container" style="padding-top : 100px;width : 700px;"> 
{% if wrongCredentail %}
    <div class="alert alert-secondary" role="alert">
        Wrong credential. 
    </div>
{% endif %}
<p class="h2"> Funder Login </p> 
<form method="POST" autocomplete="off" action="{% url 'funderLogin' %}">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name = "username" required >
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required >
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div> 
{% endblock %}