<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jobify&trade;</title>
    <link rel="stylesheet" href="../../static/first_look/css/style.css" type="text/css" />
    <link rel="stylesheet" href="../../static/first_look/css/all.min.css">
    <link rel="icon" href="../../static/first_look/images/jobify.png">
</head>

<body>
    <div class="navbar_header">
        <div class="logo_img">
            <img src="../../static/first_look/images/jobify.png">
        </div>
        <div class="PAJ"><a href="{% url 'FileJob' %}">Post a Job</a></div>
        <div class="navbar_nav">
            <ul>
                <li><a href="#">ABOUT</a></li>
                <li><a href="{% url 'Login' %}">LOGIN</a></li>
                <li><a href="{% url 'Signup' %}">SIGN-UP</a></li>
            </ul>
        </div>

    </div>

    <div class="hero_header" style="background-image: url('../../static/first_look/images/hero_2.jpg');">
        <div class="hero_header_content">
            <br><br>
            <h1 style="font-size:50px">Jobify&trade;<br></h1>
            <h1>A platform to uplift the direct communication<br> between job seekers and providers.</h1>
            <p>We connect professionals and agencies to <br>job seeking specialized talent across India.</p>
            <br>
            <div class="GS"><a href="#free">Get Started</a></div>


        </div>
    </div>
    <div class="frlncr_agnc" id="free">
        <h4 class="text-center">Find quality talent and companies.</h4>

        <div class="web common"><img src="../../static/first_look/images/img1.svg">
            <h4>Web, Mobile & Software Dev</h4>
        </div>
        </a>

        <div class="design common"><img src="../../static/first_look/images/img2.svg">
            <h4>Design & Creative</h4>
        </div>


        <div class="writing common"><img src="../../static/first_look/images/img3.svg">
            <h4>Writing</h4>
        </div>


        <div class="marketing common"><img src="../../static/first_look/images/img4.svg">
            <h4>Sales & Marketing</h4>
        </div>

        <div class="admin common"><img src="../../static/first_look/images/img5.svg">
            <h4>Admin Support</h4>
        </div>
        <div class="customer common"><img src="../../static/first_look/images/img5.svg">
            <h4>Customer Service</h4>
        </div>

        <div class="science common"><img src="../../static/first_look/images/img6.svg">
            <h4>Data Science & Analytics</h4>
        </div>

        <div class="engineer common"><img src="../../static/first_look/images/img7.svg">
            <h4>Engineering & Architecture</h4>
        </div>
    </div>
    <div class="scope">
        <h3>------Hire for any scope ------------</h3>
        <div class="scope_content">
            <div class="complex">
                <h4>Complex project</h4>
                <p>Find specialized experts and agencies for large projects.</p>
            </div>
            <div class="longer">
                <h4>Longer-term contract</h4>
                <p>Expand your team with a skilled resource.</p>
            </div>
            <div class="short">
                <h4>Short term</h4>
                <p>Build a pool of diverse experts for one-off tasks.</p>
            </div>
        </div>
    </div>

    <div class="work">

        <div class="box">
            <h1>How It Works...</h1>
        </div>
        <div class="box">
            <h4>Post a job (it’s free)</h4>
            <p>Tell us about your skill requirements. Jobify connects you with top freelancers and agencies across the nation, or near you.</p>
        </div>

        <div class="box">
            <h4>Bids come to you</h4>
            <p>Get qualified proposals. Compare bids, reviews, and prior work. Interview favorites and hire the best fit.</p>
        </div>
        <div class="box">
            <h4>Collaborate easily</h4>
            <p>Work together and make your dream fulfil.</p>
        </div>
    </div>

    <footer>

    </footer>

</body>


</html>